<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FIA Immobilier</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/a_vendre.css">
</head>

<body>
    <header>
        <nav>

            <div class="social-icons">
                <img src="/static/pack photo/logo.png" alt="FIA Immobilier Logo" width="129px" height="90px">
                <span class="volet">
                    <a href="/personnalisation-achat">Acheter</a>
                    <a href="/personnalisation-location">Louer</a>
                    <a href="/templates/vendre.html">Vendre</a>
                    <a href="/annonces">Annonces</a>
                    <a href="/agents">Agents</a>
                </span>
            </div>
            <div class="auth-buttons">
                <div class="menu-propriétés">
                    <ul>
                        <li class="menu-deroulant">
                            <a href="#">Propriétés</a>
                            <ul class="sous-menu">
                                <li><a href="/proprietes">Toutes</a></li>
                                <li><a href="/a-vendre">Achat</a></li>
                                <li><a href="/a-louer">Location</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="onglet">
                    <ul>
                        <li class="onglet-deroulant">
                            <a href="#">☰</a>
                            <ul class="sous-onglet">
                                <li><a href="/index">Accueil</a></li>
                                <li><a href="/proprietes">Propriétés</a></li>
                                <li><a href="/dossier">Dossier Immobilier</a></li>
                                <li><a href="/investissements">Investissement</a></li>
                                <li><a href="/contact">Contact</a></li>
                                <li><a href="/apropos">A propos de nous</a></li>

                            </ul>
                        </li>
                    </ul>
                </div>
                <ul>
                    <li><a href="#" class="estimate-button"><i class="fas fa-coins"></i> Estimer votre bien</a></li>
                    <li><a href="#"><i class="fas fa-heart"></i> Ma sélection</a></li>
                    <li><a href="/profil"><i class="fas fa-user"></i> Mon compte</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="banner">
            <img src="/static/pack photo/banner.png" alt="">
            <h1>Nos propriétés en exclusivité</h1>
        </div>
        <section class="properties">
            <div class="property-grid">
                <nav class="ligne1">
                    <div class="property">
                        <span class="favorite-icon"><i class="fas fa-heart"></i></span>
                        <img src="/static/pack photo/maison1.png" alt="Villa à louer">
                        <h2>Villa à  vendre 5 pièces - Bingerville</h2>
                        <p>Prix : 250 700 000 FCFA</p>
                    </div>
                    <div class="property">
                        <span class="favorite-icon"><i class="fas fa-heart"></i></span>
                        <img src="/static/pack photo/terrain1.png" alt="terrain">
                        <h2>terrain à vendre - Dabakala</h2>
                        <p>Prix : 50 000 FCFA</p>
                    </div>
                    <div class="property">
                        <span class="favorite-icon"><i class="fas fa-heart"></i></span>
                        <img src="/static/pack photo/appartement1.png" alt="Appartement meublé">
                        <h2>Bel Appartement Meublé à vendre- Angré</h2>
                        <p>Prix : 45 000 000 FCFA</p>
                    </div>
                    <div class="property">
                        <span class="favorite-icon"><i class="fas fa-heart"></i></span>
                        <img src="/static/pack photo/terrain2.png" alt="Terrain à vendre">
                        <h2>Terrain 838m² à vendre - Riviera 4</h2>
                        <p>Prix : 90 000 000 FCFA</p>
                    </div>
                </nav>
                <nav class="ligne2">
                    <div class="property">
                        <span class="favorite-icon"><i class="fas fa-heart"></i></span>
                        <img src="/static/pack photo/appartement2.png" alt="Appartement">
                        <h2>Appartement à vendre - San pédro</h2>
                        <p>Prix : 500 000 FCFA</p>
                    </div>
                    <div class="property">
                        <span class="favorite-icon"><i class="fas fa-heart"></i></span>
                        <img src="/static/pack photo/maison2.png" alt="Maison">
                        <h2>Villa à vendre</h2>
                        <p>Prix : 100 000 000 FCFA</p>
                    </div>
                    <div class="property">
                        <span class="favorite-icon"><i class="fas fa-heart"></i></span>
                        <img src="/static/pack photo/terrain3.png" alt="Terrain à vendre">
                        <h2>Terrain 838m² à vendre - Yamoussoukro</h2>
                        <p>Prix : 420 000 000 FCFA</p>
                    </div>
                    <div class="property">
                        <span class="favorite-icon"><i class="fas fa-heart"></i></span>
                        <img src="/static/pack photo/appartement3.png" alt="Terrain à vendre">
                        <h2>Terrain 838m² à vendre - Riviera 4</h2>
                        <p>Prix : 420 000 000 FCFA</p>
                    </div>
                </nav>
                <nav class="ligne3">
                    <div class="property">
                        <span class="favorite-icon"><i class="fas fa-heart"></i></span>
                        <img src="/static/pack photo/maison3.png" alt="Maison">
                        <h2>Maison à Vendre Mbadon</h2>
                        <p>Prix : 300 000 000 FCFA</p>
                    </div>
                    <div class="property">
                        <span class="favorite-icon"><i class="fas fa-heart"></i></span>
                        <img src="/static/pack photo/appartement4.png" alt="Appartement">
                        <h2>Appartement à Vendre - Port-Bouet</h2>
                        <p>Prix : 23 000 000 FCFA</p>
                    </div>
                    <div class="property">
                        <span class="favorite-icon"><i class="fas fa-heart"></i></span>
                        <img src="/static/pack photo/maison4.png" alt="Maison">
                        <h2>Maison à vendre - Grand Bassam</h2>
                        <p>Prix : 420 000 000 FCFA</p>
                    </div>
                    <div class="property">
                        <span class="favorite-icon"><i class="fas fa-heart"></i></span>
                        <img src="/static/pack photo/maison5.png" alt="Maison">
                        <h2>Maison à vendre - Bouaké</h2>
                        <p>Prix : 200 000 000 FCFA</p>
                    </div>
                </nav>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="footer-content">
            <div class="footer-section">
                <h3>Navigation</h3>
                <ul>
                    <li><a href="/index">Accueil</a></li>
                    <li><a href="/proprietes">Propriétés</a></li>
                    <li><a href="/dossier">Dossier Immobilier</a></li>
                    <li><a href="/investissements">Investissements</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/apropos">À propos</a></li>
                </ul>
            </div>

            <div class="footer-section">
                <h3>Contact</h3>
                <p><i class="fas fa-phone"></i> +225 01 50 43 70 66</p>
                <p><i class="fas fa-envelope"></i> fajobiilyas@gmail.com</p>
                <p><i class="fas fa-map-marker-alt"></i> Abidjan, Rivéra M'Badon (Non loin du terminus 78)</p>
            </div>

            <div class="footer-section">
                <h3>Suivez-nous</h3>
                <a href="facebook.com"><i class="fab fa-facebook"></i></a>
                <a href="x.com"><i class="fab fa-x-twitter"></i></a>
                <a href="linkedin.com"><i class="fab fa-linkedin"></i></a>
                <a href="youtube.com"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <p class="footer-bottom">&copy;2025 FIA Immobilier - Tous droits réservés</p>
    </footer>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var dropdown = document.querySelector(".dropdown > a");
            var submenu = document.querySelector(".submenu");

            dropdown.addEventListener("click", function(event) {
                event.preventDefault(); // Empêche la redirection
                submenu.classList.toggle("active");
            });
        });
    </script>
</body>

</html>