<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Mot de passe oublié</title>
    <link rel="stylesheet" href="/static/css/forgot_password.css">
</head>
<body>

    <div class="container">
        <h2>Réinitialiser votre mot de passe</h2>
        <p>Entrez votre adresse email pour recevoir un lien de réinitialisation.</p>

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        {% if message %}
            <p class="success">{{ message }}</p>
        {% endif %}

        <form action="/send-code" method="post">
            <input type="email" name="email" placeholder="Entrez votre email" required>
            <button type="submit">Recevoir mon code</button>
        </form>
        

        <a href="/login">Retour à la connexion</a>
    </div>

</body>
</html>
