<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FIA Immobilier</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">

</head>

<body>
    <header>

        <nav>

            <div class="social-icons">
                <img src="/static/pack_photo/logo.png" alt="FIA Immobilier Logo" width="129px" height="90px">
                <span class="volet">
                    <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://www.youtube.com/" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                </span>
            </div>

            <div>
                <ul>
                    <a href="/index">Accueil</a>
                    <a href="/proprietes">Propriétés</a>
                    <a href="/dossier">Dossier Immobilier</a>
                    <a href="/investissements">Investissements</a>
                    <a href="/contact">Contact</a>
                    <a href="/apropos">À propos de nous</a>
                </ul>
            </div>
            <ul>
                <li><a href="/estimation" class="estimate-button"><i class="fas fa-coins"></i> Estimer votre bien</a></li>
                <li><a href="#"><i class="fas fa-heart"></i> Ma sélection</a></li>
                <li><a href="/profil"><i class="fas fa-user"></i> Mon compte</a></li>
            </ul>
        </nav>

    </header>

    <main>
        <section class="banner">
            <img src="/static/pack_photo/Capture d’écran 2025-04-03 à 13.12.56.png" alt="House Banner">
            <div class="banner-text">
                <h1>Annonces immobilières</h1>
                <p>EXCLUSIVITÉS FIA IMMOBILIER</p>
                <a href="/personnaliser-achat" class="btn">Explorer</a>
            </div>
        </section>

        <section class="search-options">
            <h2>Que recherchez-vous ?</h2>
            <div class="image-container">
                <div class="image-wrapper achat">
                    <img src="/static/pack_photo/achat.png" alt="Achat">
                    <h3>Achat</h3>
                </div>
                <div class="image-wrapper location">
                    <img src="/static/pack_photo/location.png" alt="Location">
                    <h3>Location</h3>
                </div>
            </div>
        </section>

        <section class="services">
            <h2>L'immobilier en toute confiance : sécurité, transparence et tranquillité assurées.</h2>
            <div class="service-items">
                <div class="service-item">
                    <img src="/static/pack_photo/m.jpg" alt="House" width="274" height="274">
                </div>
                <div class="service-item">
                    <img src="/static/pack_photo/t.jpg" alt="Terrain à vendre" width="500" height="500">
                </div>
                <div class="service-item">
                    <img src="/static/pack_photo/contrat.jpg" alt="Gestion immobilière" width="274" height="274">
                </div>
            </div>
        </section>
        <section class="contact-info">
            <div class="contact-item">
                <i class="fas fa-phone"></i>
                <p>Téléphone</p>
                <span>+225 01 53 65 77 90</span>
            </div>
            <div class="contact-item">
                <i class="fas fa-map-marker-alt"></i>
                <p>Adresse</p>
                <span>Abidjan, Rivéra M'Badon (Non loin du terminus 78)</span>
            </div>
            <div class="contact-item">
                <i class="fas fa-envelope"></i>
                <p>Email</p>
                <span>fajobiilyas@gmail.com</span>
            </div>
        </section>

    </main>
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-section">
                <h3>Navigation</h3>
                <ul>
                    <li><a href="/index">Accueil</a></li>
                    <li><a href="/proprietes">Propriétés</a></li>
                    <li><a href="/dossier">Dossier Immobilier</a></li>
                    <li><a href="/investissements">Investissements</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/apropos">À propos</a></li>
                </ul>
            </div>

            <div class="footer-section">
                <h3>Contact</h3>
                <p><i class="fas fa-phone"></i> +225 01 50 43 70 66</p>
                <p><i class="fas fa-envelope"></i> fajobiilyas@gmail.com</p>
                <p><i class="fas fa-map-marker-alt"></i> Abidjan, Rivéra M'Badon (Non loin du terminus 78)</p>
            </div>

            <div class="footer-section">
                <h3>Suivez-nous</h3>
                <a href="facebook.com"><i class="fab fa-facebook"></i></a>
                <a href="x.com"><i class="fab fa-x-twitter"></i></a>
                <a href="linkedin.com"><i class="fab fa-linkedin"></i></a>
                <a href="youtube.com"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <p class="footer-bottom">&copy;2025 FIA Immobilier - Tous droits réservés</p>
    </footer>

</body>
</html>