<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

</head>

<body>
    <div class="header-image">
        <img src="/static/pack photo/logo.png" alt="FIA Immobilier" class="logo-entreprise">
    </div>

    <div class="container">
        <div class="left-section">
            <h2>Votre futur logement mérite mieux que des incertitudes. Achetez en toute sécurité.</h2>
        </div>

        <div class="right-section">
            <div class="login-form">
                <form action="/login" method="post">
                    <span class="texte">Connectez-vous à votre compte</span>
                    <input type="text" name="email" placeholder="Adresse e-mail">
                    <input type="password" name="password" placeholder="Mot de passe">
                    <button type="submit" class="login-btn">Se connecter</button>
                    <a href="#">Mot de passe oublié ?</a>
                    <div class="divider"></div>
                    <a href="/templates/register.html"><button type="button" class="create-btn">Créer nouveau compte</button></a>
                </form>
            </div>
        </div>
    </div>















</body>

</html>