<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personnalisation - Location</title>
    <link rel="stylesheet" href="/static/css/personnaliser_location.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>

            <div class="social-icons">
                <img src="/static/pack photo/logo.png" alt="FIA Immobilier Logo" width="129px" height="90px">
                <span class="volet">
                    <a href="/personnalisation-achat">Acheter</a>
                    <a href="/personnalisation-location">Louer</a>
                    <a href="/templates/vendre.html">Vendre</a>
                    <a href="/annonces">Annonces</a>
                    <a href="/agents">Agents</a>
                </span>
            </div>
            <div class="auth-buttons">
                <div class="menu-propriétés">
                    <ul>
                        <li class="menu-deroulant">
                            <a href="#">Propriétés</a>
                            <ul class="sous-menu">
                                <li><a href="/proprietes">Toutes</a></li>
                                <li><a href="/a-vendre">Achat</a></li>
                                <li><a href="/a-louer">Location</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="onglet">
                    <ul>
                        <li class="onglet-deroulant">
                            <a href="#">☰</a>
                            <ul class="sous-onglet">
                                <li><a href="/index">Accueil</a></li>
                                <li><a href="/proprietes">Propriétés</a></li>
                                <li><a href="/dossier">Dossier Immobilier</a></li>
                                <li><a href="/investissements">Investissement</a></li>
                                <li><a href="/contact">Contact</a></li>
                                <li><a href="/apropos">A propos de nous</a></li>

                            </ul>
                        </li>
                    </ul>
                </div>
                <ul>
                    <li><a href="/estimation" class="estimate-button"><i class="fas fa-coins"></i> Estimer votre bien</a></li>
                    <li><a href="#"><i class="fas fa-heart"></i> Ma sélection</a></li>
                    <li><a href="/profil"><i class="fas fa-user"></i> Mon compte</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <img src="/static/pack photo/ photo/grue.png" alt="photo">
        <div class="content">
            <h1>Où cherchez-vous ?</h1>
            <form action="/personnalisation-location" method="post">
                <label for="type">Type de bien:</label>
                <select name="type" id="type">
                    <option value="appartement">Appartement</option>
                    <option value="maison">Maison</option>
                    <option value="studio">Studio</option>
                </select>

                <label for="budget">Loyer maximum (XOF):</label>
                <input type="number" name="budget" id="budget">

                <label for="localisation">Localisation:</label>
                <input type="text" name="localisation" id="localisation">

                <label for="surface">Surface minimale (m²):</label>
                <input type="number" name="surface" id="surface">

                <label for="pieces">Nombre minimum de pièces:</label>
                <input type="number" name="pieces" id="pieces">

                <button type="submit">Enregistrer</button>
            </form>
        </div>
    </div>
</body>

</html>
