<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FIA Immobilier</title>
    <link rel="stylesheet" href="/static/css/principale.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@1,500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>

  <body>
    <header>
      <nav>
        <div class="social-icons">
          <img
            src="/static/pack_photo/logo.png"
            alt="FIA Immobilier Logo"
            width="129px"
            height="90px"
          />
         
        </div>
        <div class="auth-buttons">
          <a href="/login" class="btn-secondary">Connexion</a>
          <a href="/register" class="btn-primary">Inscription</a>
        </div>
      </nav>
    </header>

    <main>
      <div class="hero">
        <div id="deo">
        <video autoplay muted loop id>
          <source
            src="/static/pack_photo/Maison moderne MAHE - Maisons Clair Logis.mp4" type="video/mp4"/>
          Votre navigateur ne supporte pas la vidéo.
        </video>
    </div>
        <div class="welcome-text">
          <h1>Bienvenue sur FIA Immobilier</h1>
          <p>Trouvez la propriété idéale en toute confiance</p>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="footer-content">
        <div class="footer-section">
          <h3>Contact</h3>
          <p><i class="fas fa-phone"></i> +225 01 50 43 70 66</p>
          <p><i class="fas fa-envelope"></i> fajobiilyas@gmail.com</p>
          <p>
            <i class="fas fa-map-marker-alt"></i> Abidjan, Rivéra M'Badon (Non
            loin du terminus 78)
          </p>
        </div>

        <div class="footer-section">
          <h3>Suivez-nous</h3>
          <a href="facebook.com"><i class="fab fa-facebook"></i></a>
          <a href="x.com"><i class="fab fa-x-twitter"></i></a>
          <a href="linkedin.com"><i class="fab fa-linkedin"></i></a>
          <a href="youtube.com"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
      <p class="footer-bottom">
        &copy;2025 FIA Immobilier - Tous droits réservés
      </p>
    </footer>
  </body>
</html>
